@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Base Style */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --main: #047aed;
    --second: #fff;
}

body{
    font-family: 'lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
}

h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}   

img{
    width: 100%;
}

/* Navbar Section */
.navbar{
    background-color: var(--main);
    color: var(--text);
    height: 70px;
}

.navbar a{
    color: var(--second);
    padding: 10px;
    margin: 0 5px;
    border-bottom: 0.2rem solid transparent;
    transition: all 0.4s ease;
}

.navbar a:hover{
    border-color: var(--second);
}

.navbar .flex{
    justify-content: space-between;
}

/* Showcase */

.showcase{
    height: 400px;
    background-color: var(--main);
    color: var(--text);
    position: relative;
}

.showcase h1{
    font-size: 40px;
}

.showcase p{
    margin: 20px 0;
}

.showcase .grid{
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}

.showcase-form{
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 1000;
    justify-self: flex-end;
}

.showcase-form .form-control{
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email']{
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus{
    outline: none;
}

.showcase::before,
.showcase::after{
    content: "";
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: var(--second);
    transform: skewY(-3deg);
    --webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

/* Stats */
.stats{
    padding-top: 100px;
}

.stats-heading{
    max-width: 500px; 
    margin: auto;
}

.stats .grid h3{
    font-size: 35px;
}

.stats .grid p{
    font-size: 20px;
    font-weight: bold;
}
